{
  "extends": "eslint-config-squarespace",
  "env": {
    "mocha": true
  },
  "rules": {
    "semi": "off",
    "complexity": ["warn", { "max": 13 }]
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
