{
  "extends": "eslint-config-squarespace/vanilla",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "semi": "off",
    "complexity": ["warn", { "max": 12 }]
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
